@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --alice-blue: #e3f2fdff;
        --uranian-blue: #bbdefbff;
        --light-sky-blue: #90caf9ff;
        --blue-jeans: #64b5f6ff;
        --blue-jeans-2: #42a5f5ff;
        --dodger-blue: #2196f3ff;
        --bleu-de-france: #1e88e5ff;
        --bright-navy-blue: #1976d2ff;
        --green-blue: #1565c0ff;
        --cobalt-blue: #0d47a1ff;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
        display: inline-flex;
        color: #41424b;
        position: relative;
        z-index: 1;
        font-weight: 900;
        font-family: "Inter", sans-serif;
    }

    p {
        font-size: 1.1rem;
        color: #515258;
        font-weight: 500;
    }

    .home-example {
        background: #fafafb;
        color: #22232a;
        border-radius: 0.75rem;
        padding: 2rem;

        width: calc(50% - 0.75rem);
    }

    .home-example h1 {
        font-size: 1.7rem;
    }

    .home-example p {
        font-size: 1rem;
        font-weight: 500;
    }

    .home-example pre {
        font-size: .9rem;
        font-weight: 500;
    }

    .home-example a {
        @apply text-blue-500;
    }
}