
.snowball-lang span.k {
    color: #ff79c6;
}

.snowball-lang span.mi {
    color: #bd93f9;
}

.snowball-lang span.s {
    color: #27ae60;
}

.snowball-lang span.c {
    color: #535353;
}

.snowball-lang span.ty {
    color: #225ebe;
}